@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

/*
Five basic fall back font families
serif, sans serif, monospace, cursive, fantasy
*/

#p1 {
    color: red;
    font-family: rowdies;
    font-size: 24px;
}

#p2 {
    color: #7fbd34;
    font-size: 125%;
}

#p3 {
    color: rgba(0, 0, 255, .5);
}

#p4 {
    font-weight: bold;
}

#p5 {
    font-style: italic;
    text-decoration: red wavy underline;
}

#p6{
    text-decoration: line-through;
}