ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 12px;
}

li a {
    text-decoration: none;
    color: forestgreen;
    font-weight: bold;
}

#home {
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    body {
        background-color: indigo;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    #home {
        margin-right: inherit;
    }
}