#main{
    margin: 10px;
    font-size:18px;
}

img{
    height: 280px;
    margin-left: 25.5px;
    margin-right: 25.5px;
    position: relative;
    width: 220px;
}

#ghTitle{
    text-align: center;
}

#grahamHancock{
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    float: right;
    font-size: 13px;
    height: 575px;
    margin: 10px;
    width: 271px
}

#hancock2010{
    font-size: 12px;
    text-align: center;
}

.sideBySide{
    display: flex;
    margin: 8px;
}

.sideBySide span {
text-align: left;
}

.sideBySide span:first-child {
font-weight: bold;
width: 100px;
}


#tableOfContents{
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    color: blue;
    float: left;
    padding-right: 10px
}

#contents{
    color: black;
    text-align: center;
    text-decoration: underline;
}
#earlyLife{
    padding-left: 10px;
}